.top {
  margin: auto;
  text-align: center;
  width: 100%;
  background-image: url("http://www.svsu.edu/media/test.png");
  color: red;
}

background-image {opacity: 0.2;}

.back {
  background-image: url("https://images.pexels.com/photos/220182/pexels-photo-220182.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");  
}

.row-heading {
  width: 100%;
  margin: auto;
  color: blue;
}

.main {
  width: 100%;
  opacity: 1;
}

ul {
  margin: auto;
  list-style-type: none;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
